[submodule "firmware-bl616"]
	path = firmware-bl616
	url = ../firmware-bl616.git
[submodule "nestang"]
	path = nestang
	url = ../nestang.git
[submodule "snestang"]
	path = snestang
	url = ../snestang.git
[submodule "gbatang"]
	path = gbatang
	url = ../gbatang.git
[submodule "mdtang"]
	path = mdtang
	url = ../mdtang.git
[submodule "monitor"]
	path = monitor
	url = ../monitorcore.git
[submodule "smstang"]
	path = smstang
	url = ../smstang.git
